/*Colores
--primary: #2f6a59;   <---- color principal
--secondary: #B2492B; <----- color secundario
--success: #2f5d6a;
--info: #FF9071;
--warning: #FFCE67;
--danger: #FF7851;
--light: #f8f9fa;
--dark: #343a40;

----------------------------------------------

+ Fuente = Noto Sans
  https://fonts.googleapis.com/css?family=Noto+Sans <----- el link de la fuente
*/
body{
  font-family: 'Noto Sans', sans-serif;
  padding-top: 30px;
}

.box {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0.2, 0.2, 0.2, 0.5), 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
    display: block;
    margin-top: 60px;
    text-align: center;
}
.box-icon {
    background-color: #479e86;
    border-radius: 100%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}

.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 5px;

}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #2f6a59;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #cc2c00;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.imagen_principal{
  width: 200px;
  height: 200px;
}

.botoninicio{
  margin-right: 220px;

}

.footindex{
  position: absolute;
  bottom: 0px;
  right: 15px;
  left: 15px;
