/*Colores
--primary: #2f6a59;   <---- color principal
--secondary: #B2492B; <----- color secundario
--success: #2f5d6a;
--info: #FF9071;
--warning: #FFCE67;
--danger: #FF7851;
--light: #f8f9fa;
--dark: #343a40;

----------------------------------------------

+ Fuente = Noto Sans
  https://fonts.googleapis.com/css?family=Noto+Sans <----- el link de la fuente
*/
body{
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-style: normal;
  font-size: 14px;
  color: black;
  font-family: 'Noto Sans', sans-serif;
}

/*imagen que esta en el header*/
.margen_img_top{
  margin-left: 280px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 100px;
  height: 70px;

}

.headerino {
  height: 80px;
  background-color:#2f6a59;
  box-shadow: 1px 1px 1px 1px #4fb094;
}

/*esto es para el boton de "buscar"*/

.buscartxt{
  padding-left: 15px;
  padding-right: 40px;
  margin-top: 10px;
  font-family: 'Noto Sans', sans-serif;
}

.buscarbtn{
  margin-left: -35px;
  margin-top: 13px;
  z-index: 5;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

.formu_buscar {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#mysearch:focus + .input-group-addon {
	z-index: 10;
}

#search-btn:hover {
	cursor: pointer;
	background-color: #B2492B;
}
/*aqui termina el css del boton de buscar*/


.user_imagen{
  border: 2px solid #4fb094;
  border-radius: 100%;
  padding: 4px;
  width: 150px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.sidebar {
    box-shadow: 1px 1px 1px  #4fb094;
    height: 510px;
}

.list {
    color: white;
    list-style: none;
    padding-left: 3px;
}

li>i {
  margin-right:5px;
}

.list> li {
    padding: 15px 0px 15px 40px;
    font-size: 16px;
}

.list>li:hover {
    color: #83c9b5;
    box-shadow:1px 1px 10px 1px #4fb094 inset;
    transition: padding-left 0.3s ease;
    padding-left: 30px;
}
.aboton{
  text-decoration: none;
}

a.aboton:link{
  color: white;
}

a.aboton:visited{
  color: white;
}

a.aboton:active{
  color:white;
}

a.aboton:hover {
  color:#83c9b5;
  text-decoration: none;
}

/*css para el footer */
.footerino{
  height: 100%;
  color: white;
}

.f_estilo_c{
  margin-left: 350px;
  margin-top: 7px;
  margin-bottom: 13px;
  margin-right: 5px;
}

.f_estilo_q{
  margin-left: 100px;
  margin-top: 7px;
  margin-bottom: 13px;
  margin-right: 5px;
}

.afot{
  text-decoration: none;
}

a.afot:link{
  color: white;
}

a.afot:visited{
  color: white;
}

a.afot:active{
  color:white;
}

a.afot:hover {
  color:#83c9b5;
  text-decoration: none;
}
/*hasta aqui el css para el footer*/

/*css para el cuerpo de la pagina*/
.titulo{
  font-family: 'Noto Sans', sans-serif;
  margin-left: 60px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;

}


.descarga{
  border: 1px solid black;
  border-radius: 5px;
  color:black;
  background-color: white;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.descarga:hover{
  border: 1px solid #2f5d6a;
  background-color: #2f5d6a;
  color: white;
}

.siguiente{
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 120px;
  margin-top: 25px;
  background-color: #2f5d6a;
  border: 1px solid #2f5d6a;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.siguiente:hover{
  background-color: #468ca0;
}

.anterior{
  margin-left: 30px;

}
/*hasta aqui el css para el cuerpo de la pagina*/

/*--------------------------------------------------------------------------*/

.inputdatos{
  margin-left: 250px;
  margin-top: 20px;
}

.pointeado{
  cursor: pointer;
}

.botonsubir{
  margin-left: 380px;
  margin-top: -30px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid  #cc2c00;
  background-color:  #cc2c00;
  color: white;
  cursor: pointer;
}

.botonsubir:hover{
  border: 1px solid  #ff5f33;
  background-color:  #ff5f33;
}

input[type=text]{
  border-radius: 5px;
  border: 1px solid black;

}
input[type=text]:focus{
  border: 2px solid black;

}

.fileee input{
  padding: 100px 50px 20px 30px;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  margin-left: 230px;
  content: "Arrastre archivo";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 50% 25%;
}
/*hasta aqui para el css de subir archivo*/

/*---------------------------------------------------------------------------*/

/*css para contacto*/
.contac {
  margin-left: 200px;
  margin-top: 50px;
  font-size: 16px;
}

input[type=email]{
  border-radius: 5px;
  border: 1px solid black;

}
input[type=email]:focus{
  border: 2px solid black;

}

.areadetexto {
  border-radius: 5px;
  border: 1px solid black;
}

.centrarenviar{
  margin-top: 20px;
  margin-left: 150px;
}

/*hasta aca para el css de contacto*/

/*----------------------------------------------------------------------------*/

/*comienza el css para quienes somos*/

.cuadro{
  width: 800px;
  height: 350px;
  border: 2px dashed #2f5d6a;
  padding: 8px 8px 8px 8px;
  margin-left: 60px;
  margin-top: 40px;
}

/*termina css para quienes somos */

/*----------------------------------------------------------------------------*/
